@font-face {
    font-family: 'gobold';
    src: url('../fonts/gobold_light-webfont.eot');
    src: url('../fonts/gobold_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gobold_light-webfont.woff2') format('woff2'),
         url('../fonts/gobold_light-webfont.woff') format('woff'),
         url('../fonts/gobold_light-webfont.ttf') format('truetype'),
         url('../fonts/gobold_light-webfont.svg#gobold_thin_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
 	box-sizing: border-box;
 	position: relative;
 	min-height: 100%;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	outline: none;
}

html, body {
	margin: 0;
	padding: 0;
	display: table;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'gobold';
	font-size: 0.9rem;
	text-transform: uppercase;
	background-color: #fff;
	letter-spacing: 2px;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #05d8f7;
}

ul li, li {
	list-style: none;
}



/* Grid System
.row {
	margin-right: -2px;
}

.col {
	float: left;
	padding-right: 30px;
	width: 100%;
}

@media screen and (max-width: 415px) {
	.row {
		margin-right: 0;
	}
	.col {
		padding-right: 0;
	}
}
*/



#logo {
	margin: 25px 25px 75px 25px;
	width: 70%;
	width: calc(100% - 50px);
	max-width: 160px;
}

#logo-mobile {
	display: none;
	width: 135px;
	height: 44px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -68px;
}

#menu-bar {
	display: none;
}

.scrollTop {
	position: absolute;
	bottom: 25px;
	left: 25px;
}


.menu-primary-container .menu li.current-menu-item {
	border-bottom: 1px solid #000;
} 

.bottom-menu {
	margin-top: 50px;
}

.page-name {
	display: none;
}


@media screen and (max-width: 800px) {
	#mobile-menu {
		position: absolute;
		width: 100%;
		top: 0;
		height: 44px;
		border-bottom: 1px solid #000;
		background-color: #fff;
		z-index: 9999;
	}

	#logo {
		display: none;
	}
	#logo-mobile {
		display: block;
	}
	#menu-bar {
		width: 44px;
		height: 44px;
		cursor: pointer;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		background-image: url('../images/icon-drawer.png');
		background-size: 100%;
	}

	.navbar-container a.scrollTop {
		display: none;
	}

	.page-name {
		position: absolute;
		display: block;
		right: 7px;
		top: 0;
		line-height: 44px;
	}
}





.navbar-container {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 17%;
	height: 100%;
	background-color: #fff;
}

.navbar-container ul li {
	margin: 25px 25px 0 25px;
}

.navbar-container a {
	display: block;
}



@media screen and (max-width: 800px) {

	.nav--next,
	.nav--prev {
		display: none;
	}

	.menu-primary-container {
		position: absolute;
		background-color: #ccc;
		z-index: 1000;
		top: 44px;
		width: 100%;
		max-height: 300px;
		overflow-y: scroll;
		border-bottom: 1px solid #000;
		padding: 30px 20px 5px 20px;
		text-align: left;
		font-size: 0;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition: all 350ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		-moz-transition: all 350ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		transition: all 350ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	}

	.menu-primary-container.nav-expanded {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
		background-color: #fff;
	}

	.navbar-container {
		width: 100%;
		height: 44px;
		text-align: center;
		z-index: 1000;
		overflow: visible;
	}
	.navbar-container ul li {
	    font-size: 1rem;
		text-align: left;
	    margin: 0;
		width: 50%;
		display: inline-block;
	}
	.bottom-menu {
		margin-top: 0;
		padding-top: 25px;
		border-top: 1px solid #000;
	}
	.navbar-container .top-menu li,
	.navbar-container .bottom-menu li{
		width: 50%;
		margin-bottom: 25px;
	}
	.menu-primary-container .menu li.current-menu-item {
		border-bottom: none;
	}
	.menu-primary-container .menu li.current-menu-item a {
		color: #05d8f7;
	}
	.photoGrid {
		margin-top: 44px;
	}

}


/* about.php */

#aboutGrid {
	width: 83%;
}

.about {
	margin: 8.5rem auto;
	width: 80%;
}

.about p {
	text-align: center;
    margin-top: 1rem;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.about-mobile {
	display: none;
}


/*.about p a:hover {*/
/*color: #00fcff;*/
/*}*/

/*.wrapper-about {
	background-color: #f0f5ff;
}
*/

/*.aboutRow {
	margin-bottom: 60px;
}

.bioName{
	font-size: 2rem;
	margin-top: 3.6rem;
	text-align: center;
	margin-bottom: 3rem;
}

.bioName .michael-mobile {
	display: none;
}

.bioLeft {
	font-size: 1rem;
	float: left;
	width: 50%;
}

.bioLeft p {
	margin-top: .6rem;
	margin-bottom: 1.6rem;
	font-size: 0.9rem;
}

.bioLeft img {
	margin-top: .8rem;
}

.bioRight {
	font-size: 1.5rem;
	float: left;
	width: 50%;
}

.bioRight p {
	font-size: 1.2rem;
	line-height: 2.5rem;
}

.bioLeft, .bioRight {
	padding-right: 30px;
}*/

@media screen and (max-width: 768px) {
	#aboutGrid {
		width: 100%;
	}

	.about {
		margin: 0 auto;
		width: 100%;
	}

	/*.bioLeft, .bioRight {
		width: 100%;
		padding-right: 0;
	}*/
}

/*.contact {
	font-size: 1.5rem;
	padding: 30px;
}

.contact h1 {
	font-size: 1.6rem;
	text-align: center;
    margin-bottom: 30px;
}

.contact p {
	line-height: 2.5rem;
}

.colLast {
	padding-right: 0;
}*/

/*input, textarea {
	border: 1px solid #000;
	width: 100%;
	font-size: 1.2rem;
	padding: 5px;
}

textarea {
	resize: none;
}

textarea:focus, input:focus{
    outline: 0;
}
*/

/*@media screen and (max-width: 650px) {
	.bioName h1 {
		font-size: 1.5rem; 
	}
}*/

@media screen and (max-width: 415px) {

	.about-desktop {
		display: none;
	}

	.about-mobile {
		width: 100%;
		height: 607px;
		background-image: url(../images/michael.jpg);
		background-position: 46.2% 10.1%;
		background-size: 870px;
		background-repeat: no-repeat;
		display: block;	
	}

/*	.about-mobile img {
		height: 607px;
	}*/
/*	.aboutRow {
		margin-bottom: .5rem;
	}

	.bioName {
		margin: .5rem 0;
	}

	.bioName h1,
	.contact h1 {
		font-size: 1.3rem; 
	}

	.bioRight p {
		padding: 0 10px;
		font-size: 1rem;
		line-height: 1.7rem;
	}

	.bioLeft p {
		padding: 0 10px;
		margin-bottom: 1.1rem;
		font-size: 0.7rem;
	}

	.contact p {
		font-size: 1rem;
	}

	.bioName .michael {
		display: none;
	}

	.bioName .michael-mobile {
		display: block;
	}

	.bioLeft img {
		margin-top: 0;
	}*/
}

/* video.php */

iframe {
	width: 100%;
}

.video-wrapper {
	padding: 2rem 2rem 0 2rem;
}

.vimeoVid {
	/*background-color: #f0f5ff;*/
	padding: 20px 20px 0 20px;
	margin: 0 0 3rem 0; 
	border: 1px solid #000;
}

.vimeoVid h1 {
	/*text-transform: lowercase;*/
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.vimeoVid p {
	line-height: 1.8rem;
}

.vimeoVid .vimeoDescription {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.showMore {
	text-align: center;
	cursor: pointer;
	height: 2em;
}

.showContent {
	height: auto;
	margin-bottom: 1em;
}

.hideContent {
	height: 0px;
	overflow: hidden;
}

@media screen and (max-width: 1100px) {
	iframe {
		height: 520px;
	}
}

@media screen and (max-width: 1020px) {
	iframe {
		height: 450px;
	}
}

@media screen and (max-width: 830px) {
	iframe {
		height: 380px;
	}
}

@media screen and (max-width: 768px) {
	iframe {
		height: 350px;
	}
}

@media screen and (max-width: 650px) {
	iframe {
		height: 290px;
	}
}

@media screen and (max-width: 415px) {
	.video-wrapper {
		padding: 0;
	}

	.vimeoVid {
		padding: 10px 10px 0 10px;
	}

	.vimeoVid h1 {
		font-size: 1rem;
	}

	.vimeoVid p {
		font-size: 0.8rem;
	}

	iframe {
		height: 230px;
	}
}